.volver{
	font-size: 1.2em;
	text-decoration: none;
}
.volver:hover{
	font-size: 1.7em;
	-webkit-transition-duration: .4s;
}
.imagen{
	font-size: 1.2em;
	text-decoration: none;
}
.imagen:hover{
	font-size: 1.7em;
	-webkit-transition-duration: 4.s;
}
.posisionnav{
margin-left: -10%;
}
nav {
    width: 1000px;
    margin-left: 22%;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav > ul > li {
    float: left;
}
nav ul li a {
    background: hsl(20,80%,50%);
    min-width: 140px;
    padding: 10px 0;
    margin: 2px;
    color: hsl(0,0%,100%);
    box-shadow: 0 1px 3px hsla(0,0%,0%,0.5);
    display: block;
	text-decoration: none; 
	border-radius:0px 16px 0px 16px;

}
nav ul li a:hover, a.flecha-abajo:hover{
    background-color: hsl(10,90%,30%);
}
nav ul li a.flecha-abajo {
    background-position: 125px 50%;
}
nav ul li ul {
    opacity: 1;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    z-index: -1;
	transform: translateY(-50px);
    	-webkit-transform: translateY(-50px);
    	-moz-transform: translateY(-50px);
    	-o-transform: translateY(-50px);
    	-ms-transform: translateY(-50px);   
	transition: all 0.3s ease-out;
    	-webkit-transition: all 0.3s ease-out;   
    	-moz-transition: all 0.3s ease-out;
    	-o-transition: all 0.3s ease-out;
    	-ms-transition: all 0.3s ease-out;
}
nav ul li:hover > ul {
	top: 8%;
    visibility: visible;
    opacity: 1;
	transform: translateY(0px);
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	-ms-transform: translateY(0px);
    transition: all 0.4s ease-out;
    	-webkit-transition: all 0.3s ease-out;   
    	-moz-transition: all 0.3s ease-out;
    	-o-transition: all 0.3s ease-out;
    	-ms-transition: all 0.3s ease-out;
	transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
}


